/* Pengaturan seluruh halaman */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff4df;
    color: #333333;
}

/* Grouping selector */
h1, h2, h3 {
    font-family: Georgia, serif;
}

/* Header */
header {
    background-color: #ff8c42;
    padding: 30px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 35px;
}

header p {
    font-size: 18px;
}

/* Isi halaman */
main {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

section {
    margin-bottom: 35px;
}

section h2 {
    text-align: center;
    color: #d35400;
}

/* Menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Descendant selector */
.menu .item h3 {
    color: #e67e22;
}

/* Kotak menu */
.item {
    width: 210px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px #d9c3a5;
    transition: 0.3s;
}

/* Pseudo-class hover */
.item:hover {
    transform: translateY(-8px);
    background-color: #ffe0b2;
    cursor: pointer;
}

.item p {
    font-size: 14px;
    line-height: 1.5;
}

.item span {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #c0392b;
    font-size: 18px;
}

/* Footer */
footer {
    background-color: #8b4513;
    color: white;
    text-align: center;
    padding: 15px;
}